@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>@ViewData["Title"]</h2>

<div>
    <a href="http://localhost:55641/Products">Follow this link to the WebAPI CRUD methods for a <i>Product</i> entity.</a>
</div>
